{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": { "chrome": "100" },
          "exclude": ["transform-unicode-property-regex"]
        }
      }
    ]
  ]
}
